*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}
:root{
    --fontFamily:IranYekan;
    
}
@font-face {
    font-family: IranYekan;
    src: url('../fonts/IRANYekanWeb.eot');
    src: url('../fonts/IRANYekanWeb.ttf');
    src: url('../fonts/IRANYekanWeb.woff');
    src: url('../fonts/IRANYekanWeb.woff2');
}
@font-face{
    font-family: nazanin;
    src: url('../fonts/BNazanin.eot');
    src: url('../fonts/BNazanin.ttf');
    src: url('../fonts/BNazanin.woff');
    src: url('../fonts/BNazanin.woff2');
}