*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}
:root{
    --fontFamily:IranYekan;
}
@font-face {
    font-family: IranYekan;
    src: url('../fonts/IRANYekanWeb.eot');
    src: url('../fonts/IRANYekanWeb.ttf');
    src: url('../fonts/IRANYekanWeb.woff');
    src: url('../fonts/IRANYekanWeb.woff2');
}