.parent{
    width: 80%;
    height: 280px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 0 auto;
    
    & div{
        width: 100%;
        height: 260px;
        background-color: black;
        border-radius: 20px;
    }
    & img{
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 20px;
    }
}